<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>single-spa demo</title>
  <meta name="importmap-type" content="systemjs-importmap" />
  <script type="systemjs-importmap" src="//single-spa-demo.s3-us-west-2.amazonaws.com/%40thawkin3/importmap.json"></script>
  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@thawkin3/root-config": "http://localhost:9000/root-config.js",
        "@thawkin3/single-spa-demo-nav": "http://localhost:9001/thawkin3-single-spa-demo-nav.js",
        "@thawkin3/single-spa-demo-page-1": "http://localhost:9002/thawkin3-single-spa-demo-page-1.js",
        "@thawkin3/single-spa-demo-page-2": "http://localhost:9003/thawkin3-single-spa-demo-page-2.js"
      }
    }
  </script>
  <% } %>
  <script src="//cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
  <script src="//cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
  <style>
    body, html { margin: 0; padding: 0; font-size: 16px; font-family: Arial, Helvetica, sans-serif; height: 100%; }
    body { display: flex; flex-direction: column; }
    * { box-sizing: border-box; }
  </style>
</head>
<body>
  <div id="nav-container"></div>
  <main>
    <div id="page-1-container"></div>
    <div id="page-2-container"></div>
  </main>
  <script>
    System.import('@thawkin3/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>